{% extends "base.html.twig" %}

{% block body %}
    <h1>inscription par Lior Chamla</h1>

    {{form_start(form)}}

    {{form_row(form.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder' : 'Adresse email ...'}})}}
    {{form_row(form.email, {'label': 'Adresse email','attr':{'placeholder': 'Adresse email ...'}})}}
    {{form_row(form.password, {'label': 'Mot de passe','attr':{'placeholder': 'Mot de passe...'}})}}
      

    <button type="submit" class="btn btn-succes">Inscription</button>
    {{form_end(form)}}
{% endblock %}